@if (pokemon) {
  <ion-card button="true" [routerLink]="['/pokemon', pokemon.name]">
    <ion-card-content>
      <img
        [alt]="pokemon.name | nameFormatter"
        [src]="
          pokemon.sprites.other['official-artwork'].front_default ||
          'assets/pokeball.svg'
        "
      />
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>{{ pokemon.name | nameFormatter }}</ion-card-title>
    </ion-card-header>

    <ion-button
      (click)="toggleFavorite($event, pokemon)"
      shape="round"
      size="normal"
      fill="clear"
    >
      @if (isFavorite(pokemon)) {
        <ion-icon slot="icon-only" name="star" color="warning" />
      } @else {
        <ion-icon slot="icon-only" name="star-outline" color="medium" />
      }
    </ion-button>
  </ion-card>
} @else if (isLoading || hasError) {
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text
        [animated]="!hasError"
        class="img-skeleton"
      ></ion-skeleton-text>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text
          [animated]="!hasError"
          style="width: 60%"
        ></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
}
