ion-card {
    position: relative;
    margin: 0;
    height: 100%;
}

ion-card-content {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

img,
.img-skeleton {
    height: 96px;
    width: 96px;
}

ion-card-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

ion-button {
    position: absolute;
    right: 2px;
    top: 0px;
}