<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (isLoading) {
  <loading />
  } @else if (hasError) {
  <error />
  } @else if (resourceList) {
  <ion-grid>
    <ion-row>
      @for (resource of resourceList.results; track resource.name) {
      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="2">
        <pokemon-card [pokemonResource]="resource" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <mat-paginator (page)="handlePageEvent($event)" [length]="resourceList.count" [pageSize]="pageSize"
    [pageIndex]="pageIndex" hidePageSize="true" showFirstLastButtons="true">
  </mat-paginator>
  }
</ion-content>