<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-header>
    <ion-toolbar>
      <ion-title>
        Pokédex
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for (pokemonResource of pokemonResources; track pokemonResource.name) {
      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="2">
        <pokemon-card [pokemonResource]="pokemonResource" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="getMorePokemonResources($event)">
    <ion-infinite-scroll-content loadingText="Carregando..." />
  </ion-infinite-scroll>
</ion-content>