<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-header>
    <ion-toolbar>
      <ion-title>
        Pokédex
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (pokemonResource of pokemonResources; track pokemonResource.name) {
    <pokemon-list-item [pokemonResource]="pokemonResource"></pokemon-list-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getMorePokemonResources($event)">
    <ion-infinite-scroll-content loadingText="Carregando..." />
  </ion-infinite-scroll>
</ion-content>